* {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: auto;
  margin: auto;
  background-color: #fff;
  max-width: 1800px;
}
.headers {
  background-color: rgb(213, 213, 218);
  width: auto;
  min-width: 1000px;
  padding: 100px 250px 100px 250px;
}
.contaiterHeaders {
  text-align: center;
  height: 400px;
}
.headers_text {
  float: left;
  width: auto;
  max-width: 400px;
  text-align: left;
}
.title_color {
  color: rgb(5, 141, 204);
}
.headers_logo {
  float: right;
  background-color: gray;
  width: auto;
}
button {
  background-color: rgb(5, 141, 204);
  width: 150px;
  height: 50px;
  font-weight: bold;
  color: #fff;
}
button:hover {
  background-color: gray;
}
.article {
  max-width: 500px;
  padding-bottom: 50px;
}
.articleContaiter {
  width: auto;
  min-width: 1000px;
  padding: 0px 250px 100px 250px;
  margin-top: -100px;
}
.headerBodyContaiter {
  width: 260px;
  background-color: white;
  border-width: 1px;
  height: 150px;
  border-style: groove;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.headerImg {
  float: left;
}
.headerBody {
  float: right;
  width: 200px;
  text-align: left;
}
.articleBody1 {
  display: grid;
  grid-template-columns: auto auto 300px;
  grid-gap: auto;
}
.finalContent {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
#imgContent {
  float: left;
}
#linkContent {
  float: right;
  margin-top: 3px;
}
.columnContents {
  width: 170px;
  height: 30px;
}
.tableContents {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blanchedalmond;
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto 180px;
}
.numberStatistics {
  display: grid;
  grid-template-columns: auto auto auto;
}
.numberContent {
  text-align: center;
  margin-top: 20px;
}
.numberContent h1 {
  color: rgb(5, 141, 204);
  font-size: 50px;
}
.containerFooter {
  background-color: rgb(5, 141, 204);
  text-align: center;
  padding: 100px 0 100px 0;
}
.containerFooter h2 a {
  color: white;
}
.contentRated {
  color: white;
  width: 280px;
  text-align: left;
}

.starRating {
  display: grid;
  grid-template-columns: 210px 210px;
}
.footer1 {
  display: grid;
  grid-template-columns: 260px auto 50px auto;
  margin-top: 100px;
}
/* sao danh gia */
.stars {
  display: inline-block;
  margin-top: 20px;
}

input.star {
  display: none;
}
label.star {
  float: right;
  padding: 5px;
  font-size: 15px;
  color: #444;
  transition: all 0.2s;
}
.star ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
  font-family: FontAwesome;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
