* {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #fff;
  margin: auto;
  min-width: 300px;
}
.contaiter {
  margin: auto;
}
.background {
  background-image: url(https://wallpaperaccess.com/full/3501759.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  width: auto;
  height: auto;
}
.headers {
  max-width: 1100px;
  margin: auto;
  padding: 0 10px 100px 10px;
}
.contaiterHeaders {
  text-align: center;
  height: auto;
  display: grid;
}
.headers_text {
  float: left;
  width: auto;
  max-width: 400px;
  text-align: left;
}
.title_color {
  color: rgb(5, 141, 204);
}
button {
  background-color: rgb(5, 141, 204);
  width: 50%;
  min-width: 150px;
  height: 50px;
  font-weight: bold;
  color: #fff;
}
button:hover {
  background-color: gray;
}
.article {
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  padding-bottom: 50px;
  color: white;
  text-shadow: 5px #444;
  background-color: rgba(68, 68, 68, 0.247);
}
.articleContaiter {
  width: auto;
  margin-top: -90px;
  text-align: center;
}
.headerBodyContaiter {
  background-color: white;
  border-width: 1px;
  border-style: groove;
  padding: 10px 10px 30px 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  height: 200px;
}
.headerImg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 8px;
  border: 0.1px groove rgba(128, 128, 128, 0.397);
  border-radius: 10px;
}
.headerBody {
  text-align: left;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  font-size: 19px;
}
.headerBody h4 {
  margin: 5px 0 5px 0;
  color: blue;
  font-size: 20px;
}
.articleBody1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin: auto;
  width: auto;
  max-width: 1100px;
  height: auto;
  padding: 0 10px 0px 10px;
}
.finalContent {
  text-align: center;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: black;
}
#imgContent {
  width: 30px;
  height: 30px;
}
#linkContent {
  width: auto;
}
.columnContents {
  width: auto;
  max-width: 200px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  margin-bottom: 10px;
}
.backgroundTable {
  /* margin-top: 50px;
  margin-bottom: 20px; */
  background-color: blanchedalmond;
  padding: 20px 10px 20px 10px;
  max-width: 1100px;
  margin: auto;
}
.finalContent {
  margin-bottom: 20px;
}
.tableContents {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.numberStatistics {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1100px;
  margin: auto;
}
.numberContent {
  text-align: center;
  margin-top: 50px;
}
.numberContent h1 {
  color: rgb(5, 141, 204);
  font-size: 50px;
}

.containerFooter {
  background-color: rgb(5, 141, 204);
  text-align: center;
  padding: 100px 15% 100px 15%;
  margin-top: 100px;
}
.containerFooter h2 a {
  color: white;
}
.contentRated {
  color: white;
  width: auto;
  text-align: left;
}

.starRating {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.imgComment {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
.footer1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  margin-top: 100px;
  max-width: 1100px;
  margin: auto;
}
/* sao danh gia */
.stars {
  display: inline-block;
  margin-top: 20px;
}

input.star {
  display: none;
}
label.star {
  float: right;
  padding: 5px;
  font-size: 15px;
  color: #444;
  transition: all 0.2s;
}
.star ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
  font-family: FontAwesome;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

@media screen and (max-width: 820px) {
  .articleBody1 {
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .tableContents {
    grid-template-columns: auto auto auto;
  }
  .footer1 {
    grid-template-columns: auto;
  }
  .finalContent {
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .headers {
    padding: 30px 10px 10px 10px;
  }
  .articleBody1 {
    grid-template-columns: none;
    grid-gap: 0px;
    padding: 30px 10px 0px 10px;
  }
  .tableContents {
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 30px 10px 30px 10px;
  }
  .containerFooter {
    padding: 30px 10px 20px 10px;
  }
  .headerBodyContaiter {
    height: auto;
  }
  .stars {
    margin-top: 5px;
  }
  .numberContent h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
