<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo_HTML_CSS</title>
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <div class="contaiter">
      <div class="headers">
        <div class="contaiterHeaders">
          <div class="headers_text">
            <br />
            <h4>BẢO DƯỠNG ĐIỆN LẠNH AIRCOOL</h4>
            <h2 class="title_color">DỊCH VỤ SỰA CHỮA</h2>
            <h2>ĐIỆN LẠNH HÀNG ĐẦU</h2>
            <br />
            <p>
              Để cuộc sông của bạn luôn dẽ dàng. Mọi khó khăn, sự cố điện lạnh
              cứ để AirCool lo!
            </p>
            <br />
            <p>
              Chúng tôi tự hào là địa chỉ sửa chữa bảo dưỡng điện lạnh uy tín
              chuyên nghiệp số 1. Dịch vụ được khách hàng tin tưởng không chỉ vì
              chất lượng giá cả mà còn là phong các dịch vụ.
            </p>
            <br />
            <button type="button">ĐĂNG KÝ DỊCH VỤ</button>
          </div>
          <div class="headers_logo">
            <img src="../Image/logo.png" alt="logo" width="500" height="250" />
          </div>
          <!-- ??? -->
        </div>
        <div class="article">
          <h2>TẠI SAO NÊN CHỌN AIRCOOL?</h2>
          <p>
            Vải airycool được coi là chất liệu của tương lai với công nghệ dệt
            vải mới vô cùng hiện đại giúp sợi vải có kết cấu chắc chắn, siêu
            mịn. Vải airycool được coi là sợi vải có thể thở vì nó giúp người
            mặc cảm nhận được sự thoải mái, mát lạnh khi mặc.
          </p>
        </div>
      </div>
      <div class="articleContaiter">
        <div class="articleBody1">
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
        </div>

        <div class="finalContent">
          <h2>DỊCH VỤ ĐIỆN LẠNH TAI AIRCOOL</h2>
        </div>
        <div class="tableContents">
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="30"
              height="30"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
