<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo_HTML_CSS</title>
    <link rel="stylesheet" href="../style/index.css" />
    <link
      rel="stylesheet prefetch"
      href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    />
  </head>
  <body>
    <div class="contaiter">
      <div class="headers">
        <div class="contaiterHeaders">
          <div class="headers_text">
            <br />
            <h4>BẢO DƯỠNG ĐIỆN LẠNH AIRCOOL</h4>
            <h2 class="title_color">DỊCH VỤ SỰA CHỮA</h2>
            <h2>ĐIỆN LẠNH HÀNG ĐẦU</h2>
            <br />
            <p>
              Để cuộc sông của bạn luôn dẽ dàng. Mọi khó khăn, sự cố điện lạnh
              cứ để AirCool lo!
            </p>
            <br />
            <p>
              Chúng tôi tự hào là địa chỉ sửa chữa bảo dưỡng điện lạnh uy tín
              chuyên nghiệp số 1. Dịch vụ được khách hàng tin tưởng không chỉ vì
              chất lượng giá cả mà còn là phong các dịch vụ.
            </p>
            <br />
            <button type="button">ĐĂNG KÝ DỊCH VỤ</button>
          </div>
          <!-- <div class="headers_logo">
            <img
              src="../Image/logo.png"
              alt="logo"
              width="100%"
              height="100%"
            />
          </div> -->
          <!-- ??? -->
        </div>
        <br />
        <div class="article">
          <h2>TẠI SAO NÊN CHỌN AIRCOOL?</h2>
          <p>
            Vải airycool được coi là chất liệu của tương lai với công nghệ dệt
            vải mới vô cùng hiện đại giúp sợi vải có kết cấu chắc chắn, siêu
            mịn. Vải airycool được coi là sợi vải có thể thở vì nó giúp người
            mặc cảm nhận được sự thoải mái, mát lạnh khi mặc.
          </p>
        </div>
      </div>

      <div class="articleContaiter">
        <div class="articleBody1">
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="40"
              height="40"
            />
            <div class="headerBody">
              <h4>Phục vụ nhanh chóng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="100%"
              height="100%"
            />
            <div class="headerBody">
              <h4>Chí phí thấp</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="100%"
              height="100%"
            />
            <div class="headerBody">
              <h4>Kỹ thuật viên lành nghề</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="100%"
              height="100%"
            />
            <div class="headerBody">
              <h4>Dịch vụ chất lượng</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="100%"
              height="100%"
            />
            <div class="headerBody">
              <h4>Dịch vụ bảo hành</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
          <div class="headerBodyContaiter">
            <img
              class="headerImg"
              src="https://res.cloudinary.com/cde/image/upload/v1638099555/Icon/GoogleIcon_rwiso5.png"
              alt="imgHeader"
              width="100%"
              height="100%"
            />
            <div class="headerBody">
              <h4>Hỗ trợ 24/7</h4>
              <p>
                Hiểu đơn giản, quy trình phục vụ nhà hàng là trình tự các bước
                phục vụ từ lúc khách bước vào đến lúc khách ra về
              </p>
            </div>
          </div>
        </div>

        <div class="finalContent">
          <h2>DỊCH VỤ ĐIỆN LẠNH TAI AIRCOOL</h2>
        </div>
        <div class="tableContents">
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>

          <div class="columnContents">
            <img
              id="imgContent"
              src="https://res.cloudinary.com/cde/image/upload/v1639988734/Icon/profit_n7rxhh.png"
              alt="icon"
              width="100%"
              height="100%"
            />
            <p id="linkContent"><a href="link">Sửa chữa Điều hòa</a></p>
          </div>
        </div>
        <div class="finalContent">
          <h2>DỊCH VỤ ĐIỆN LẠNH TAI AIRCOOL</h2>
        </div>

        <div class="numberStatistics">
          <div class="numberContent">
            <h1>5280</h1>
            <h6>KHÁCH HÀNG</h6>
          </div>
          <div class="numberContent">
            <h1>50</h1>
            <h6>NHÂN VIÊN</h6>
          </div>
          <div class="numberContent">
            <h1>10</h1>
            <h6>NĂM KINH NGHIỆM</h6>
          </div>
        </div>
      </div>
      <div class="containerFooter">
        <h2>
          Ý KIẾN
          <a> KHÁCH HÀNG</a>
        </h2>

        <div class="footer1">
          <div class="starRating">
            <img
              class="imgComment"
              src="https://dienmayjapan.com/wp-content/uploads/2019/09/66788adc4d78ab26f269-2.jpg"
              alt="img"
              width="100%"
              height="100%"
            />
            <div class="contentRated">
              <h3>Vũ Đình Hiệp</h3>
              <p>Quảng Ninh</p>
              <div class="stars">
                <form action="">
                  <input
                    class="star star-5"
                    id="star-5"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-5" for="star-5"></label>
                  <input
                    class="star star-4"
                    id="star-4"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-4" for="star-4"></label>
                  <input
                    class="star star-3"
                    id="star-3"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-3" for="star-3"></label>
                  <input
                    class="star star-2"
                    id="star-2"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-2" for="star-2"></label>
                  <input
                    class="star star-1"
                    id="star-1"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div>
              <p>
                Lần trước mua 01 cái điều hoà sharp của shop, xài tốt nên lần
                này mua thêm 02 cái Daikin nữa. Giao hàng nhanh. Shop hỗ trợ
                tốt, anh giao hàng lắp đặt nhiệt tình.
              </p>
            </div>
          </div>

          <div class="starRating">
            <img
              class="imgComment"
              src="https://cdn.tgdd.vn/Files/2018/09/20/1118989/nen-mua-dieu-hoa-tu-dung-cua-hang-nao--5.jpg"
              alt="img"
              width="100%"
              height="100%"
            />
            <div class="contentRated">
              <h3>Hà Vân Anh</h3>
              <p>Hà Nội</p>
              <div class="stars">
                <form action="">
                  <input
                    class="star star-5"
                    id="star-5"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-5" for="star-5"></label>
                  <input
                    class="star star-4"
                    id="star-4"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-4" for="star-4"></label>
                  <input
                    class="star star-3"
                    id="star-3"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-3" for="star-3"></label>
                  <input
                    class="star star-2"
                    id="star-2"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-2" for="star-2"></label>
                  <input
                    class="star star-1"
                    id="star-1"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div>
              <p>
                Vừa lắp 1 cái mua ở sthị điện máy, dịch vụ lắp đặt làm mình ko
                hài lòng. Sau đó "liều" mua thêm 2 bộ điều hòa trên shopee. Cả
                nhà đều lo lắng. Thợ đến lắp chỉ sau 1 giờ order,siêu nhanh lun
                nhé, sau 2 giờ lắp xong cực kỳ hài lòng.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
